<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<div class="aboutMe">
      <p>

      About Me: Hi this is Bob and here is my about me section. This is currently for iteration 6 but will be updated for the final version. Thanks for visiting!

      </p>
      
</div>


&nbsp;




  <div class="projectBox">
    <% @projects.each do |project| %>
      <div class ="projectBoxWidth rounded">
        <h3><%= project.title %></h3>
        <%= project.description %>
        <br>
        <% if user_signed_in? %>
        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
    </div>
<br>

<%= link_to 'New Project', new_project_path %>
