<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<p>
ejfiewofoiwofwfinpfwfnpefnpwejfn
</p>

  <div class="flexB">
    <% @projects.each do |project| %>
      <div class ="containerW rounded">
        <h3><%= project.title %></h3>
        <%= project.description %>
        <br>
        <% if user_signed_in? %>
        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
    </div>
<br>

<%= link_to 'New Project', new_project_path %>
