<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<div class="aboutMe">
      <p>

      About Me: My name is Bob and this is my individual project for my software development class. 
      This project is being created using Ruby on Rails. I was able to get the program working and just in time for the holidays.
      I plan on eventually creating video games but also I strive for a job in the software development field as 
      I am very interested in software development. My up and coming development skills mixed with my previous experience
      in the world of Psychology will help advance me to my own unique area of the web.

      </p>
      
</div>


&nbsp;




  <div class="projectBox">
    <% @projects.each do |project| %>
      <div class ="projectBoxWidth rounded">
        <h3><%= project.title %></h3>
        <%= project.description %>
        <br>
        <% if user_signed_in? %>
        <%= link_to 'Show', project %>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
    </div>
<br>

<%= link_to 'New Project', new_project_path %>
